<div class="d-header">
  <div class="d-header__logoBox"><a href="#" class="d-header__textLogo">Мое приложение</a>Основная страница</div>
  <div class="d-header__center">
  </div>
<!--  <div *ngIf="isAuth()"><a (click)="logout()" class="checkInOut">Выход</a></div>-->
</div>
<div *ngIf="isAuth()" class="d-menu d-menu_links">
  <a href="#" class="active">Действие №1</a>
  <a href="#">Действие №2</a>
  <a href="#">Действие №3</a>
  <a href="#">Действие №4</a>
  <a href="#">Действие №5</a>
  <a class="a-out" (click)="logout()"c><i class="fa fa-user"></i> Выход</a>
</div>
