<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#" *ngIf="isAuth()">Мое приложение</a>
  <a class="navbar-brand" style="color: white"  *ngIf="!isAuth()">Мое приложение</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarColor02" *ngIf="isAuth()">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: white" href="#">Категория №1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white" href="#">Категория №3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white" href="#">Категория №3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white" href="#">Категория №4</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: white" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Выпадающие меню
        </a>
        <div class="dropdown-menu" aria-labelledby="Preview">
          <a class="dropdown-item" href="#">Dropdown Link 1</a>
          <a class="dropdown-item" href="#">Dropdown Link 2</a>
          <a class="dropdown-item" href="#">Dropdown Link 3</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link pointer" style="color: white" (click)="logout()">Выход</a>
      </li>
    </ul>
<!--    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
