/* You can add global styles to this file, and also import other style files */
.popup-main {
  width: 25%;
  float: right;
}

.modal {
  position: absolute;
  transform: translate(0%, 20%);
}


.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
