<!-- Спинер -->
<div class="loading-indicator" *ngIf="isLoading">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<!-- Всплывающие уведомление -->
<div class="popup-main" *ngIf="showPopup" [ngStyle]="{'display':display}">
  <div class="alert alert-danger" *ngIf="isError">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
  </div>
  <div class="alert alert-success" *ngIf="isSuccess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
  </div>
  <div class="alert alert-success" *ngIf="isInfo">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
  </div>
</div>
<!-- Форма авторизации -->
<div class="login-form">
  <h2 class="text-center">Авторизация</h2>
  <form [formGroup]="authorizationForm">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" id="login" name="login" class="form-control" placeholder="Логин" autocomplete="off"
               formControlName="login"
               [(ngModel)]="login" required/>
      </div>
    </div>
    <div *ngIf="isSubmittedAuthorizationForm && authorizationForm.controls['login'].errors" class="alert alert-danger">
      Логин не должен быть пустым
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" id="password" name="password" placeholder="Пароль"
               autocomplete="off"
               formControlName="password" [(ngModel)]="password" required/>
      </div>
    </div>
    <div
      *ngIf="isSubmittedAuthorizationForm && authorizationForm.controls['password'].errors!=null && (authorizationForm.controls['password'].errors.required || authorizationForm.controls['password'].errors.minlength!=null)"
      class="alert alert-danger">
      <div *ngIf="authorizationForm.controls['password'].errors.required">
        Пароль не должен быть пустым
      </div>
      <div *ngIf="authorizationForm.controls['password'].errors.minlength">
        Пароль должен быть больше 6 символов
      </div>
    </div>
    <div class="form-group">
      <button class="btn custom-btn-primary btn-block" (click)="authorization()">Войти</button>
    </div>
    <div class="form-group">
      <button class="btn btn-secondary btn-block" (click)="openModalDialog()">Забыли пароль?</button>
    </div>
    <div class="clearfix">
      <a class="pull-left" routerLink="/registration" target="_blank">Создать акаунт</a>
    </div>
  </form>
</div>
<!-- Модальное окно восстановления пароля -->
<div class="backdrop" [ngStyle]="{'display':displayModalPasswordRecovery}">
  <div class="modal" tabindex="-7" role="dialog" [ngStyle]="{'display':displayModalPasswordRecovery}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Востановление пароля</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="passwordRecoveryForm">
            <div class="form-group">
              <div class="input-group">
                <input type="text" id="email" name="email" class="form-control" placeholder="Email" autocomplete="off"
                       formControlName="email" required/>
              </div>
            </div>
            <div *ngIf="isSubmittedPasswordRecoveryForm && passwordRecoveryForm.controls['email'].errors!=null && (passwordRecoveryForm.controls['email'].errors.required || passwordRecoveryForm.controls['email'].errors.pattern!=null)" class="alert alert-danger">
              <div *ngIf="passwordRecoveryForm.controls['email'].errors.required">
                Email не должен быть пустым
              </div>
              <div *ngIf="passwordRecoveryForm.controls['email'].errors.pattern">
                Не верный формат email
              </div>
            </div>
            <div class="form-group">
              <button class="btn custom-btn-primary btn-block" (click)="recoverPass(passwordRecoveryForm.value)">Восстановить
              </button>
            </div>
          </form>
        </div>
        <!-- modal-footer -->
        <!--      <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button>
              </div>-->
      </div>
    </div>
  </div>
</div>

